  <div class="header">
    PERFORMANCE PARAMETER
  </div>
  <center>
    <h1>Welcome User</h1>
  </center>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
        <a href="#">Today's Plan</a><br>
    </div>
    <div class="col-sm-9">
      <div class="jumbotron">
        <p><a href="#">Set yout plan Here</a></p>
        <p><a href="#">Update your plan here</a></p>
      </div>
    </div>
  </div>
</div>