/*// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.container-fluid a {
  text-decoration-color: yellow;
}
.header {
  height: 50px;
  width: 100%;
  padding: 10px;
  text-align :center;
  font-size: 25px;
  background-color: silver;
}